# 문제  
정수 N이 입력되면 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 구하는 프로그램을 작성하시오.

###### 입력 조건
- 첫째 줄에 정수 N이 입력된다. (0<=N<=23)

###### 출력 조건
- 00시 00분 00초부터 N시 59분 59초까지의 모든 시각 중에서 3이 하나라도 포함되는 모든 경우의 수를 출력한다.

In [3]:
N = int(input())

hour_result = 0
minu_result = 0
sec_result = 0

for sec in range(60):
    if '3' in str(sec):
        sec_result += 1
for minu in range(60):
    if '3' in str(minu):
        minu_result += 1
for hour in range(N+1):
    if '3' in str(hour):
        hour_result += 1
        
total_result = sec_result + minu_result + hour_result
print(total_result)

5
31

In [4]:
N = int(input())

h_result = 0
m_result = 0
s_result = 0

for h in range(N+1):
    for m in range(60):
        for s in range(60):
            if '3' in str(h):
                h_result += 1
            if '3' in str(m):
                m_result += 1
            if '3' in str(s):
                s_result += 1
total_result = h_result + m_result + s_result
print(total_result)

5
14400

In [6]:
N = int(input())

total_result = 0 

for h in range(N+1):
    for m in range(60):
        for s in range(60):
            if '3' in str(h) + str(m) + str(s):
                total_result += 1
                
print(total_result)

5
11475

### 변수 정리
- N  >>  '시'에 들어가는 input값  
- total_result  >>  총 경우의 수

### 풀이
- 첫 번째 풀이 >> 실패  
    - 좀 단순하게 hour의 영역과 minu의 영역 sec의 영역을 각각 나누어 '3'이라는 숫자가 들어있으면 각 result에 카운트를 한 후, 더하면 될 것이라 생각.
    - 하지만 이렇게 계산하면 겹쳤을 때, 예를 들면 minu의 영역에 '3'이 들어있으면서 sec의 영역에 '3'이 들어있는 경우를 카운트하지 못 한다는 것을 깨닫.
---
- 두 번째 풀이 >> 실패
    - hour / minu / sec 각 영역이 서로 연결되어 있으므로, for문으로 접근할 생각을 함.
    - 사실 왜 틀리게 나오는지 정확하게 파악은 안 됨...ㅠ
---
- 세 번째 풀이 >> 성공 but, 답지를 조금 참고
     - 실패의 이유를 찾다가, 접근법이 잘못되었나..? 하고 답지를 참고함.
     - str로 접근하기 때문에, 시/분/초 를 나열할 수 있다는 keypoint를 발견.